@import "../../app.scss";

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
    .counterbtn {

        display: flex;
        align-items: baseline;
            
    }
    
    .handlers {
  
        margin-bottom: 0.5em;

        button {
            align-items: flex-end;
            background: $light;
            width: 1.7em;
            border-color: $tan;
        }
        input {
            width: auto;
        }
    }
    
}