@import "../../app.scss";


.nav_menu {
    color: #333;
    &_link:link {
        color: #333;
        text-decoration: none;
    }
    &_link:visited {
        color: #333;
        }
    &_link:hover {
        color: $oposite;
        transition: ease all .2s;
        }
    &_link:active {
        color: $oposite;
        }
    &_form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
           
}

.activeRoute {

    border-bottom: 0.1rem solid $oposite;
    
}

.logo {
    width: 8em;
}



