.nav_menu {
    color: #333;
    &_link:link {
        color: #333;
        text-decoration: none;
    }
    &_link:visited {
        color: #333;
        }
    &_link:hover {
        color: purple;
        }
    &_link:active {
        color: purple;
        }
    &_form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
           
}

.activeRoute {

    border-bottom: 0.1rem solid purple;
    
}




