.card {
    width: 80%;
    margin: 2em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    &-body {
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.cont {
    height: auto;
    padding: 1rem;
    align-self: center;
}