@import "../../app.scss";

.checkout {
    height: auto;
    padding: 1em;
    width: 60%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 1em;
    box-shadow: 5px 5px 15px rgba($green, .5);
    @include for-size(tablet-portrait-up) {
        width: 80%;
        height: 10em;     
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    @include for-size(big-desktop-up) {
        width: 70%;
              
        
        
    }
    &_link:link {
        color: $dark;
        text-decoration: none;
    }
    &_link:visited {
        color: $dark;
        }
    &_link:hover {
        color: $green;
        transition: ease all .2s;
        }
    &_link:active {
        color: $green;
        }
    &_form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &_button {
        outline: 0;
        border: 0;
        color: $aqua;
        background-color: $white;
    }
    &_button:hover {
        background-color: $white;
        color: $green;
        transition: ease all .2s;
    }
}
